
*.db
*.ilk
*.pdb
*.log
*.res
*.tlog
*.obj
*.idb
*.exe
*.enc
*.cache
ft2play/vs2019_project/.vs/ft2play/v16/.suo
*.ipch
.DS_Store
ft2play/vs2019_project/Release/ft2play.vcxproj.FileListAbsolute.txt
ft2play/vs2019_project/x64/Debug/ft2play.vcxproj.FileListAbsolute.txt
*.cod
ft2play/vs2019_project/Debug/ft2play.vcxproj.FileListAbsolute.txt
*.opendb
*.db-shm
*.db-wal
*.recipe
ft2play/vs2019_project/Release/ft2play.iobj
